<ion-header class="app-people__header">
  <ion-navbar color="primary">
    
    
    <ion-title>Profiles</ion-title>
    
    
    <ion-buttons end *ngIf="isModal === false">
      <button *ngIf="isEdit === false" ion-button icon-only (click)="more()">
        <ion-icon name="more"></ion-icon>
      </button>
      <button *ngIf="isEdit" ion-button clear (click)="done()">Done</button>
    </ion-buttons>

    <ion-buttons end *ngIf="isModal">
      <button [disabled]="people.length == 0" ion-button clear (click)="close()">Done</button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
  <div class="app-empty" *ngIf="people.length == 0">

    <h2>Booh! No Profiles Yet</h2>
    <button *ngIf="isModal" ion-button icon-left (click)="present()">
      <ion-icon name="md-add"></ion-icon>
      Add Profile
    </button>
  </div>


  <ion-list>
    
    <button ion-item class="app-people__item" *ngFor="let person of service.people$ | async" (click)="action(person)">
        <ion-icon class="app-people__trash" *ngIf="isEdit" name="remove"></ion-icon> 
        <span *ngIf="isEdit" class="app-people__trash-text">{{person.name}}</span>
        <span *ngIf="isEdit === false" class="app-people__static">{{person.name}}</span>
    </button>

    <button class="app-people__item" ion-item *ngIf="people.length > 0" (click)="present()">
      <ion-icon name="md-add"></ion-icon> Add Profile
    </button>

  </ion-list>
</ion-content>
