.app-task {
    &__header .toolbar-title-md {
        font-size: 14px;
    }

    &__item {
        color: #581eca;
        font-size: 14px;
    }

    &__trash {
        color: #ff0000;
        margin-right: 15px;
    }

    &__trash-text {
        color: #ff0000;
    }
}

.app-create-job__tasks {
    width: 100%;
    padding: 5px;
    text-align: right;
    margin-top: 10px;
}
