<ion-header color="primary" class="app-task__header">
    <ion-navbar color="primary">
      
      <ion-title>Tasks</ion-title>

      <ion-buttons end *ngIf="isModal === false">
        <button *ngIf="isEdit === false" ion-button icon-only (click)="more()">
          <ion-icon name="more"></ion-icon>
        </button>
        <button *ngIf="isEdit" ion-button clear (click)="done()">Done</button>
      </ion-buttons>

      <ion-buttons end *ngIf="isModal">
        <button [disabled]="tasks.length == 0" ion-button clear (click)="close()">Done</button>
      </ion-buttons>

    </ion-navbar>
  </ion-header>

  <ion-content>
    <div class="app-empty" *ngIf="tasks.length == 0">
      <h2>Booh! No Tasks Yet</h2>
      <button *ngIf="isModal" ion-button icon-left (click)="present()">
        <ion-icon name="md-add"></ion-icon>
        Add Task
      </button>
    </div>

    <ion-list *ngIf="tasks.length > 0">

      <button ion-item class="app-task__item" *ngFor="let job of service.jobs$ | async" (click)="delete(job)">
          <ion-icon class="app-task__trash" *ngIf="isEdit" name="remove"></ion-icon>
          <span *ngIf="isEdit" class="app-task__trash-text">{{job.name}}</span>
          <span *ngIf="isEdit === false" class="app-task__static">{{job.name}}</span>

          <span *ngIf="isEdit" class="app-task__trash-text" item-end>
            {{job.hours}}:{{job.minutes}}
          </span>

          <span *ngIf="isEdit === false" class="app-task__static" item-end>
            {{job.hours}}:{{job.minutes}}
          </span>

      </button>

      <button ion-item class="app-task__item" (click)="present()">
          <ion-icon name="md-add"></ion-icon>
          Add Task
      </button>

    </ion-list>
  </ion-content>
