<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-slides pager>
    <ion-slide *ngFor="let person of people$ | async">
      <h2>{{person.name}}</h2>
      <button ion-button (click)="pick(person)">Add</button>
      <ion-list>
          <button ion-item *ngFor="let job of person.jobs | active">
              {{job.name}}: {{job.hours}}:{{job.minutes}}
          </button>
      </ion-list>

    </ion-slide>
  </ion-slides>

</ion-content>
