page-home {
  .app-onboard {
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.20);
    text-align: center;
  }


  .app-item__active {
    background: rgba(88, 30, 202, 0.5) !important;
  }

  .swiper-slide {
        align-items: baseline;
        margin-top: 0px;
  }

  .app-tracker {
    margin-top: 10px;
    max-height: calc(100vh - 85px);
    overflow: scroll;
  }

  .app-dash {
    background-image: url('../assets/imgs/bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    &__task-container {
      width: 100%;
      height: 50px;
      position: absolute;
      padding: 5px 10px;
      z-index: 1000;
      top: 0;
    }

    &__task {
      width: 40px;
      height: 40px;
      background: rgba(0, 0, 0, 0.1);
      float: right;
      margin-left: 5px;
      border: 2px dashed rgba(255, 255, 255, 0.7);
      border-radius: 10px;
    }

    // &__action {
    //   float: left;
    //   box-shadow: none;
    //   font-size: 8px;
    //   border-radius: 8px;
    //   background: #581eca;
    //   background: -moz-linear-gradient(top, rgba(159,226,84,1) 0%, rgba(112,208,44,1) 100%);
    //   background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(159,226,84,1)), color-stop(100%, rgba(112,208,44,1)));
    //   background: -webkit-linear-gradient(top, rgba(159,226,84,1) 0%, rgba(112,208,44,1) 100%);
    //   background: -o-linear-gradient(top, rgba(159,226,84,1) 0%, rgba(112,208,44,1) 100%);
    //   background: -ms-linear-gradient(top, rgba(159,226,84,1) 0%, rgba(112,208,44,1) 100%);
    //   background: linear-gradient(to bottom, #934aef 0%, #581eca 100%);
    //   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fe254', endColorstr='#70d02c', GradientType=0 );
    //   text-shadow: 1px 1px 4px #275d01;
    //   height: 32px;
    // }

    // &__action--people {

    // }

    // &__action--reset {
    //   background: #ff0000;
    //   float: right;
    // }

    &__action--tasks {
      float: right;
    }



    &__people--icon {
      margin-right: 6px;
      font-size: 16px;
    }

  }


  .app-profile {
    width: 100%;
    padding: 0 10px;

    &__container {
      padding: 0;
      position: relative;
      overflow: visible;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: 3px solid #fff;
      border-bottom: none;
      background: #fff;
      color: #581eca;
      font-size: 12px;
      text-align: left;
      display: flex;
      -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.20);
      -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.20);
      box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2)
    }

    &__hero {
      width: 100%;
      padding: 10px;
      background: rgba(255, 255, 255, 0.5);
      margin-bottom: 8px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      min-height: 80px;
      -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.20);
      -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.20);
      box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.20);
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #581eca;
      font-size: 20px;
    }



    &__content span {
      line-height: 46px;
      font-size: 14px;
    }

    &__content--time {
      box-shadow: none;
      font-size: 11px;
      position: absolute;
      right: 0;
      top: 0;
      color: #581eca;
      // text-shadow: 1px 1px 4px rgba(0,0,0,0.20);
    }

    &__content--play {
      margin-right: 5px;
      font-size: 20px;
      text-shadow: none;
    }

    &__avatar {
      display: inline-block;
      margin-right: 15px;
      margin-left: 5px;
      width: 34px;
      height: 34px;
      margin-top: 6px;
      margin-left: 10px;
    }

  }

  .app-item-list {
    padding: 0 10px;
    margin-bottom: 0;

    // max-height: calc(100vh - 350px);
    // overflow: scroll;
  }

  .app-refresh-item {
    margin-top: 5px;
  }

  .app-add-item {
    border: 5px dashed #fff;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    text-shadow: 1px 1px 4px #002f4e;
    color: #fff;
    text-align: center;
    font-size: 13px;
  }

  .app-add-item ion-icon {
    font-weight: bold;
  }

  .app-add-item .label-md {
    margin: 6px 8px;
  }

  .app-item {
    position: relative;
    overflow: visible;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border: 3px solid #fff;
    margin-bottom: 5px;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.20);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.20);
    text-shadow: 1px 1px 4px #002f4e;
    color: #fff;
    font-size: 13px;

    &__check {
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      text-shadow: none;
      font-size: 18px;
      line-height: 22px;
      margin-right: 20px;
      height: 12px;
      float: left;
    }

    &__check--active {
      color: #fff;
    }

    &__check--inactive {
      color: transparent;
    }

    &__time {
      position: absolute;
      right: 10px;
      top: 12px;
      line-height: 20px;
    }


    .input-wrapper {
      overflow: visible;
    }

    .ion-label, ion-label {
      overflow: visible;
    }


  }

  .list-md .item-block .item-inner {
    border-bottom: 0;
  }
}

.app-timer__time {
  vertical-align: top;
  line-height: 45px;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
  opacity: 0.8 !important;
}

.swiper-pagination-bullet {
  background: #581eca;
  opacity: .8;
}

